<header>
  <h1>URL shorter by TinyURL</h1>
</header>
<section class="container">
  <form
    #urlForm="ngForm"
    (ngSubmit)="onSubmitUrlForm(urlForm)"
    autocomplete="off"
  >
    <input
      type="url"
      name="inputUrl"
      class="form-input"
      placeholder="Paste your URL here"
    />
    <div class="form-error"><p>Please Enter URL</p></div>
    <button type="submit" class="form-btn">Shorter URL</button>

    <div class="short-url-div">
      <h2>
        Generate URL Link
      </h2>
      <div>
        <p>
          <a href="" target="_blank" title="Click Me">URL link</a>
        </p>

      </div>
      <div class="short-url-btn-div">
        
        <button>Copy</button>
        <button>Reset</button>
      </div>
    </div>
  </form>
</section>
